<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="br.com.pwlimaverde.audio_recorder_vt_plugin">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application
    android:allowAudioPlaybackCapture="true">
    <service
      android:name=".RecorderService"
      android:enabled="true"
      android:foregroundServiceType="microphone" />


    <meta-data
      android:name="flutterEmbedding"
      android:value="2" />

  </application>

</manifest>